<h1>IMS MVP</h1>
<p>Information Management System</p>

<% if current_user %>
    <p> Hello <%= current_user.email %></p>
    <p>You are a [<%= current_user.role %>]</p>
    <% if current_user.admin? %>
        There are <%= User.count %> users in the system.
    <% end %>
    <p>You have successfully authenticated you account.</p>

    <%= link_to "Sign out!", destroy_user_session_path, method: :delete, class:"btn btn-success btn-sm" %>
<% else %>
    <p>You are not signed in</p>
    <%= link_to "Sign up!", new_user_registration_path, class:"btn btn-success btn-sm" %>
    <br />
    <br />
    <%= link_to "Login", new_user_session_path, class:"btn btn-success btn-sm" %>
<% end %>