<div id="<%= dom_id contact %>">
  <h2>
    <%= contact.first_name %>
    <%= contact.last_name %>
  </h2>
  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>
  <p>
    <strong>City:</strong>
    <%= contact.city %>
  </p>
  <p>
    <strong>Role:</strong>
    <%= contact.role %>
  </p>
  <p>
    <strong>Department:</strong>
    <%= contact.department %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= contact.notes %>
  </p>
</div>
