<p style="color: green"><%= notice %></p>

<div>
  <% @upload.files.each do |file| %>
  <%= image_tag(file, :width => 200) %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this upload", edit_upload_path(@upload) %> |
  <%= link_to "Back to uploads", uploads_path %>

  <%= button_to "Destroy this upload", @upload, method: :delete %>
</div>
