<div id="<%= dom_id activity %>">
  <p>
    <strong>Title:</strong>
    <%= activity.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= activity.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= activity.location %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= activity.event_type %>
  </p>

</div>
