<!DOCTYPE html>
<html>
  <head>
    <title>ImsSrf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar'%>
    <div class="col d-flex justify-content-center">
      <div class="row" style="padding-left: 2rem; margin-top: 2rem;">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
